@mixin textEllipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line ==1) {
    white-space: nowrap;
  } @else if($line >1) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}
/* 背景图片 */
@mixin bgImage($url, $size: 100% 100%, $ext: 'png') {
  background: url('~@/assets/img/#{$url}.#{$ext}') no-repeat;
  background-size: $size;
}